#buttons{
    display: flex;
    flex-direction: column;
}

#bg{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsl(0, 0%, 12%);
    max-width: fit-content;
    border-radius: 1rem;
    padding: 50px 25px;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#name{
    font-size: 32px;
    font-weight: bold;
}

#location{
    color: #c5f82a;
    font-weight: bold;
    margin-top: -15px;
    font-size: 16px;
}

#quote{
    font-size: 14px;
}

#portrait{
    height: 125px;
    width: 125px;
    border-radius: 100%;
    margin-top: -25px;
    margin-bottom: 10px;
}

#quote, #location{
    margin-bottom: 20px;
}

@media (max-width: 412px){
    
}