<div id="container">
  <div id="bg">
    <img src="assets/ich.jpg" id="portrait">
    <p id="name">Marlon Just</p>
    <p id="location">Duisburg, Germany</p>
    <p id="quote">Media- & Computer Science Student &#64;HSRW</p>
    <div id="buttons">
      <app-button [text]="'GitHub'" href="https://www.github.com/marlonjust"></app-button>
      <app-button [text]="'LinkedIn'" href="https://www.linkedin.com/in/marlon-just-2a4631305/"></app-button>
      <app-button [text]="'Instagram'" href="https://www.instagram.com/marlonjust/"></app-button>
    </div>
  </div>
</div>